# Datos Financieros desde Google Finance

### Primero importamos las librerías necesarias

In [11]:
import pandas as pd
import pandas_datareader.data as web
import datetime as dt

### 1. Crea dos variables del tipo datetime llamadas 'start' y 'end'. Asigna a 'start' la fecha 01/01/2015 y la fecha de hoy a 'end' (usa la función today()

In [3]:
start = dt.datetime(2015, 1, 1)
end = dt.datetime.today()
start

datetime.datetime(2015, 1, 1, 0, 0)

### 3. Investiga y haz una lista con los tickers de Apple, Tesla, Twitter, IBM y LinkedIn stocks symbols. Asigna la lista a una variable llamada 'stocks'

In [4]:
stocks = ['AAPL', 'TSLA', 'IBM', 'LNKD']
stocks

### 4. Ahora leeremos los datos desde google. Explica debajo que hicimos en este comando

In [12]:
panel = web.DataReader(stocks, 'google', start, end)
panel

<class 'pandas.core.panel.Panel'>
Dimensions: 5 (items) x 259 (major_axis) x 4 (minor_axis)
Items axis: Open to Volume
Major_axis axis: 2016-11-07 00:00:00 to 2017-11-03 00:00:00
Minor_axis axis: AAPL to TSLA

Explicación:

### 5.  ¿Cuál es el tipo de dato de panel?

In [13]:
type(panel)

pandas.core.panel.Panel

### 6. Utiliza el atributo .items en Panel
Para aprender más sobre la estructura de datos panel, aquí está el link a la [documentación](http://pandas.pydata.org/pandas-docs/stable/dsintro.html#panel)

In [14]:
panel.items

Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')

### 7. Bien ahora que tenemos nuestros datos en panel. Crea un DataFrame con los datos de 'Volume' y asignalo a la variable 'df_vol'

In [16]:
df_vol = panel['Volume']
df_vol.head()

                  AAPL    IBM       LNKD       TSLA
Date
2016-11-07  32560000.0    0.0  1679646.0  3870112.0
2016-11-08  24254179.0    0.0  1378460.0  3267580.0
2016-11-09  59176361.0    0.0   835914.0  8173065.0
2016-11-10  57134541.0  516.0  1162522.0  6750341.0
2016-11-11  34143898.0    0.0   837263.0  3988504.0

### 8. Agrega los dato de 'df_vol' para que sean semanales
#### Tip: Ten cuidado con no sumar los datos de la misma semana de años distintos. Utiliza groupy()

In [19]:
df_vol['week'] = df_vol.index.week
df_vol['year'] = df_vol.index.year

week = df_vol.groupby(['week','year']).sum()
week.head()

                  AAPL      IBM  LNKD        TSLA
week year
1    2017  103845468.0   1215.0   NaN  28576313.0
2    2017  138810760.0   1139.0   NaN  21173453.0
3    2017  116347987.0   1318.0   NaN  20323067.0
4    2017  124748449.0  52808.0   NaN  22693209.0
5    2017  249781248.0    898.0   NaN  16562505.0

### 9. Encuentra todo el volumen del año 2015 y 2016

In [131]:
del df_vol['week']
df_vol['year'] = df_vol.index.year

year = df_vol.groupby(['year']).sum()
year

              AAPL           IBM         LNKD          TSLA
year
2015  1.301994e+10  1.100959e+09  440376163.0  1.085839e+09
2016  6.081474e+09  6.585250e+08  453233878.0  7.540962e+08

### BONUS: Crea tu propia pregunta y respóndela